<mat-tab-group class="main-tab-group">
  <mat-tab label="Classement">
	<div style="text-align:center">
	  <h1>
	    {{ title }}
	  </h1>
	</div>
	<div style="text-align:center">
		<app-classement></app-classement>
	</div>
 	</mat-tab>
  <mat-tab label="Stats">
	<div style="text-align:center">
	  <p>Stats coming soon</p>
	</div>
 	</mat-tab>
 	<mat-tab label="Admin">
		<div *ngIf="!isLoggedIn" style="text-align:center">
		<p>Vous devez vous connecter pour gerer vos matches</p>
			<button (click)="login()" class="btn btn-lg btn-primary btn-block">
	    		Login
	  		</button>
	  	</div>
	  	<div *ngIf="isLoggedIn" style="text-align:center">
	  			  <p>Admin page coming soon</p>
	  	</div>
	</mat-tab>
 </mat-tab-group>