

 <div fxLayout="row" fxLayoutAlign="left center" >
 	<div>
 	<ng-container *ngIf="authService.isLoggedIn then loggedin else notloggedin"></ng-container>
		<ng-template #notloggedin>
			<!-- button (click)="login()" >Login</button> -->
			<a (click)="login()"> <img src="assets/unlocked.png" class="loginButton"></a>
		</ng-template >
		<ng-template  #loggedin>
			{{authService.nom()}}
			<span *ngIf="authService.isAdmin">
			<img src="assets/skull.png" alt="Admin" class="adminIcon">
			</span>
		</ng-template >
		<!-- button [routerLink]="[{ outlets: { popup: ['login'] } }]">create player</button> -->
	</div>
	<div>
		 <nav mat-tab-nav-bar #mtg>
		 <a mat-tab-link
		    *ngFor="let link of navLinks"
		    [routerLink]="link.path"
		    routerLinkActive #rla="routerLinkActive"
		    [active]="rla.isActive">
		   {{link.label}}
		 </a>
		</nav>
	</div>
	<div class="fixed-logo">
 		<img src="assets/ludikraken.png" alt="Association Ludikraken"> 
	 </div>

</div>
	 <router-outlet></router-outlet>
<div class="popup">
	 <router-outlet name="popup"></router-outlet>
</div>
