.entree-match {
	background-color: rgba(201, 204, 214, 0.3);
	padding: 5px;
	border-radius: 20px 20px 20px 20px;
	overflow:hidden;
	max-width: 900px;
	margin-right: auto; 
	margin-left: auto;
	
}

.btn-successX:disabled {
	padding:5px 15px; 
    background:#ccc; 
    color: #369;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.btn:disabled {
	background: #ff9933;
	}