<div style="text-align:center">
			<h2>Campagne a Echelons - Ludikraken</h2>
			La campagne suit les regles Echelons de Commandement telles que definies dans le Chapter Approved.
			<h2>Rappel des points de regles en vigueur</h2>
			<div style="margin-left: 30%">
			<div style="text-align:left">
			<ul>
				<li>Chaque joueur doit presenter une armee reglementaire</li>
				<li>Le nombre de points est libre et conveu d'avance entre les joueurs</li>
				<li>Tout joueur qui ne fait pas de match durant un mois descend d'un echellon</li>
			</ul>
			</div>
			</div>
			A l'issue d'un match, l'un des joueur doit enregistrer le resultat via la partie Admin du site ou contacter l'equipe 40k via la groupe whatsapp.<BR>
		</div>