
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #369;
  text-shadow: 1.5px 1.5px 4px rgb(183,185,189);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  ont-size: 150%;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: white;
  font-family: Cambria, Georgia;
  background-size: cover;
  background-color: #292b2c;
  background-image: url("assets/warhammer_aquila.png");
  background-repeat: no-repeat;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  /*color: white;*/
}
