<div class="classement" fxLayout="row" fxLayoutAlign="center center" >
<mat-accordion>
	 <mat-expansion-panel
	 	[expanded]="selectedJoueur === joueur"
	 	(opened)="onSelect(joueur)"
	 	hideToggle="true"
        *ngFor="let joueur of classement">
     <mat-expansion-panel-header>
      <mat-panel-title>
        {{joueur.classement}}
      </mat-panel-title>
      <mat-panel-description>
        <div>{{joueur.nom}}</div>
      </mat-panel-description>
     </mat-expansion-panel-header>
     <app-joueur nom={{joueur.nom}}></app-joueur>
    </mat-expansion-panel>
</mat-accordion>

<div *ngIf="selectedJoueur" class="Xbadge">
  <app-match joueur={{selectedJoueur.nom}} isAdmin={{isAdmin}}></app-match>
</div>
</div>

