<div class="classement">
<mat-accordion>
	 <mat-expansion-panel (opened)="selectedJoueur=joueur"
                       *ngFor="let joueur of classement">
     <mat-expansion-panel-header>
      <mat-panel-title>
        {{joueur.classement}}
      </mat-panel-title>
      <mat-panel-description>
        {{joueur.nom}}
      </mat-panel-description>
     </mat-expansion-panel-header>
     <app-joueur nom={{joueur.nom}}></app-joueur>
    </mat-expansion-panel>
</mat-accordion>

<div *ngIf="selectedJoueur" class="badge">
  <app-match joueur={{selectedJoueur.nom}}></app-match>
</div>
</div>


