<!-- 
<h2>Classement</h2>

<ul class="heroes">
  <li *ngFor="let joueur of classement"
    [class.selected]="joueur === selectedJoueur"
    (click)="onSelect(joueur)">
    <span class="badge">{{joueur.nom}}</span> {{joueur.armee}}
  </li>
</ul>
-->

<div class="classement">
<!-- >h2>Classement</h2-->
<table>
  <tbody>
    <tr><th>Position</th><th>Nom</th></tr>
    <tr *ngFor="let joueur of classement"
	   [class.selected]="joueur === selectedJoueur"
	   (click)="onSelect(joueur)">
       <td>{{joueur.classement}}</td>
       <td>{{joueur.nom}}</td>
     </tr>
  </tbody>
</table>



<div *ngIf="selectedJoueur" class="badge">
  <h2>Details</h2>
  <div><span>Armee: </span>{{selectedJoueur.armee}}</div>
  <div><span>Nombre de parties: </span>{{selectedJoueur.parties}}</div>
  <!--  <div>
    <label>armee:
      <input [(ngModel)]="selectedJoueur.armee" placeholder="name">
    </label>
  </div>
  -->
  <h2>Matchs joues</h2>
  <app-match joueur={{selectedJoueur.nom}}></app-match>
</div>

</div>