/* classementComponent's private CSS styles */
.selected {
  /*background-color: #CFD8DC !important;*/
  /*background-color: rgba(102, 102, 153, 0.4) !important;*/
  color:  #cc0000;
  text-shadow: 1px 1px 3px #ffffff;
}
.classement {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  position: fixed;
  left: 50%;
  margin-left: -100px;
}

.classement table{
	align: center;
}


.classement th {
  cursor: pointer;
  position: relative;
  left: 0;
  /*background-color: #EEE;*/
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  color: #369;
}

.classement tr {
  cursor: pointer;
  position: relative;
  left: 0;
  /*background-color: #EEE;*/
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.classement tr.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.classement tr:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.mat-expansion-panel {
	background-color: rgba(109, 112, 120, 0.5);
}

.classement .mat-expansion-panel-header-description {
	color: white;
}

.classement .mat-expansion-panel-header-title {
	color: #9fbfdf;
}


.classement .mat-expansion-panel {
	color: white !important;
}

.classement .text {
  position: relative;
  top: -3px;
}
.badge {
  /*display: inline-block;*/
  font-size: large;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  /*background-color: #607D8B;*/
  line-height: 1em;
  position: relative;
  left: -150px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 500px;
}

.badge .h2 {
	align: left;
}

.badge .table {
	
}

.h1{
	color: red;
}