---
swagger: "2.0"
info:
  description: "“API for 40k ranking“"
  version: "“0.1”"
  title: "“40k API”"
host: "hackedo.io"
basePath: "/40k/api"
schemes:
- "https"
produces:
- "application/json"
paths:
  /classement:
    get:
      summary: "show board"
      description: "return the ranking board"
      operationId: "classementGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "List of players by ranking order"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/joueur"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Default"
  /joueur/{nom}:
    get:
      description: "return a player by id"
      operationId: "joueurNomGET"
      produces:
      - "application/json"
      parameters:
      - name: "nom"
        in: "path"
        description: "nom du joueur"
        required: true
        type: "string"
      responses:
        200:
          description: "show one player"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/match"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Default"
  /match:
    get:
      description: "return list of match"
      operationId: "matchGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "show one player"
          schema:
            $ref: "#/definitions/joueur"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Default"
    put:
      description: "record a match"
      operationId: "matchPUT"
      parameters:
      - name: "vainqueur"
        in: "query"
        description: "nom du vainqueur"
        required: true
        type: "string"
      - name: "perdant"
        in: "query"
        description: "nom du perdant"
        required: true
        type: "string"
      - name: "date"
        in: "query"
        description: "nom du joueur"
        required: false
        type: "string"
        format: "date-time"
      responses:
        200:
          description: "show one player"
          schema:
            $ref: "#/definitions/joueur"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Default"
definitions:
  joueur:
    type: "object"
    properties:
      nom:
        type: "string"
        description: "Name of the customer"
      armee:
        type: "string"
        description: "Army Name"
      classement:
        type: "number"
        description: "classement du joueur"
  match:
    type: "object"
    properties:
      date:
        type: "string"
        format: "date-time"
        description: "Date du match"
      vainqueur:
        type: "string"
        description: "Nom du vainqueur"
      perdant:
        type: "string"
        description: "Nom du perdant"
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
